<div id="myModal" class="modal fade">
	<div id="form-create" class="modal-body">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">&times;</a>
			<h3>Task</h3></div><div class="alert alert-block alert-error" id="Task-form_es_" style="display:none">
			<p>Please fix the following input errors:</p>
			<ul>
				<li>dummy</li>
			</ul>
		</div>
		
		<form class="well form-vertical" id="Task-form" action="create" method="post">
			<label for="Task_description" class="required">Description <span class="required">*</span></label>
			<textarea name="Task[description]" id="Task_description"></textarea>
			<span class="help-block error" id="Task_description_em_" style="display: none"></span>
			<label for="Task_project_id" class="required">Project <span class="required">*</span></label>
			<input name="Task[project_id]" id="Task_project_id" type="hidden" />
			<input id="Task_project_id_save" type="hidden" value="" name="Task_project_id_save" />
			<input class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" size="50" maxLength="50" onblur="$(this).val($(&#039;#Task_project_id_save&#039;).val());" id="Task_project_id_lookup" name="Task_project_id_lookup" value="" type="text" maxlength="10" />
			<span class="help-block error" id="Task_project_id_em_" style="display: none"></span>
			<label for="Task_task_type_id" class="required">Task type <span class="required">*</span></label>
			<input name="Task[task_type_id]" id="Task_task_type_id" type="hidden" />
			<input id="Task_task_type_id_save" type="hidden" value="" name="Task_task_type_id_save" />
			<input class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" size="50" maxLength="50" onblur="$(this).val($(&#039;#Task_task_type_id_save&#039;).val());" id="Task_task_type_id_lookup" name="Task_task_type_id_lookup" value="" type="text" />
			<span class="help-block error" id="Task_task_type_id_em_" style="display: none"></span>
			<label for="Task_purchase_order_id">Supplier/Purchase order number</label>
			<input name="Task[purchase_order_id]" id="Task_purchase_order_id" type="hidden" />
			<input id="Task_purchase_order_id_save" type="hidden" value="" name="Task_purchase_order_id_save" />
			<input class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" size="50" maxLength="50" onblur="$(this).val($(&#039;#Task_purchase_order_id_save&#039;).val());" id="Task_purchase_order_id_lookup" name="Task_purchase_order_id_lookup" value="" type="text" maxlength="10" />
			<span class="help-block error" id="Task_purchase_order_id_em_" style="display: none"></span>
			<label for="Task_in_charge_id" class="required">In charge, First/Last/Email <span class="required">*</span></label>
			<input name="Task[in_charge_id]" id="Task_in_charge_id" type="hidden" />
			<input id="Task_in_charge_id_save" type="hidden" value="" name="Task_in_charge_id_save" />
			<input class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" size="50" maxLength="50" onblur="$(this).val($(&#039;#Task_in_charge_id_save&#039;).val());" id="Task_in_charge_id_lookup" name="Task_in_charge_id_lookup" value="" type="text" />
			<span class="help-block error" id="Task_in_charge_id_em_" style="display: none"></span>
			<label for="Task_planned">Planned</label>
			<input class="span5" name="Task[planned]" id="Task_planned" type="text" />
			<span class="help-block error" id="Task_planned_em_" style="display: none"></span>
			<label for="Task_scheduled">Scheduled</label>
			<input class="span5" name="Task[scheduled]" id="Task_scheduled" type="text" />
			<span class="help-block error" id="Task_scheduled_em_" style="display: none"></span>
			<label for="Task_earliest">Earliest</label>
			<input class="span5" name="Task[earliest]" id="Task_earliest" type="text" />
			<span class="help-block error" id="Task_earliest_em_" style="display: none"></span>
			<label for="Task_preferred">Preferred</label>
			<input class="span5" name="Task[preferred]" id="Task_preferred" type="text" />
			<span class="help-block error" id="Task_preferred_em_" style="display: none"></span>
			<input name="Task[staff_id]" id="Task_staff_id" type="hidden" />
			<div class="modal-footer">
				<input class="btn btn-primary btn-small" type="submit" name="yt0" value="Create" id="yt0" />
			</div>
		</form>
	</div>
</div>